
#avaliacao{
  width: 3%;
  height: 60px;
  flex-shrink: 0;
  margin-top: 25px;
  align-items: center;
  mix-blend-mode: soft-light;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../img/avaliacaoEstrela.png) no-repeat;
  mix-blend-mode: soft-light;
  background-size: 50px 50px;
}

.icone-avaliacao {
  list-style: none;

}