  .label-principal {
    display: flex;
    margin-left: 25px;
  }

  #seletor-curso li {
    float: left;
    padding-top: 10px;
    list-style: none;
  }

  #seletor-curso label {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    cursor: pointer;
    font-style: normal;
    line-height: normal;
  }

  .icone-selecao svg {
    cursor: pointer;
  }