*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Reem Kufi';
  line-height: normal;
  font-style: normal;
}

.page-content{
  display:flex;
  flex-wrap: wrap;
}
.info-page{
  /* background-color:blueviolet; */
  color: #fff;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

.title-barra-inferior{
  margin-left: 28%;
  background: #CD1DC6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 1px;
}

.materia-title-v1{
  font-family: Reem Kufi;
  font-size: 35px;
  font-style: normal;
  align-items: center;
  font-weight: 700;
  line-height: normal;
}
.materia-codigo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-family: Reem Kufi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 29px;
}

.descricao{
  /* filter: blur(2px); */
  fill: rgba(155, 150, 203, 0.70);
  height: 281px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  background-color: #9B96CBB2;
  margin-bottom: 61px;
}

.descricao p{
  display: flex;
  width: 681px;
  height: 171px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* flex-shrink: 0; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  padding-top: 83px;
  line-height: normal; 
}

.areas-relevancia{
  font-family: Reem Kufi;
  font-size: 35px;
  font-style: normal;
  align-items: center;
  font-weight: 700;
  line-height: normal;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* background-color: aqua; */
}
.cards li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  width: 200px;
  height: 187px;
  flex-shrink: 0;
  fill: rgba(155, 150, 203, 0.70); 
  background-color: #9B96CBB2;
  float: left;
  padding: 10px;
}

.cards li a{
  color: #fff;
}