#page-content {
  font-family: 'Reem Kufi';
  line-height: normal;
  font-style: normal;
}

#page-content .nivel-esforco {
  display: flex;
  width: 212px;
  height: 29px;
  flex-direction: row;
  justify-content: center;
  margin-left: 58px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 400;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

#cards .card-lateral-esq{
  margin-right: 20px;
}

#page-content .card-lateral-esq {
  width: 355px;
  height: 730px;
  flex-shrink: 0;
  margin-top: 21px;
  margin-left: 58px;
  border-radius: 17px;
  border: 1px solid #000;
  background: #9B96CB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.description-block ul {
  list-style: none;
  display: flex;
  width: 313px;
  height: 245px;
  flex-direction: column;
  margin: 25px 22px 5px 20px;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}

.description-block li {
  margin-top: 25px;
}

.horizontal-divider {
  width: 313px;
  height: 1px;
  background: #5A3693;
  margin: 75px 22px 5px 20px;
}

.professors-block {
  width: 242px;
  height: 251px;
  margin: 39px 24px 55px 39px;
}

.professors-block h3 {
  display: flex;
  width: 232px;
  height: 48.31px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.professors-block li {
  width: 225px;
  height: 33.607px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.professors-block li a{
  color: #FFF;
}

.professors-block li a:hover{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vertical-divider {
  width: 1px;
  height: 780.023px;
  background: #9B96CB;
}
#comments-n-materials-block {
  width: 950px;
  height: 491px;
  flex-shrink: 0;
}

#comments-n-materials-block .comments-block {
  margin-left: 20px;
  border-radius: 17px;
  border: 1px solid #000;
  background: #9B96CB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#comments-n-materials-block .comments-block .single-comment {
  width: inherit;
  height: 50%;
  display: flex;
  color: #FFF;
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
}

#comments-n-materials-block .comments-block .single-comment .comment{
  margin-left: 15px;
  margin-top: 29px;
  margin-right: 38px;;
  margin-bottom: 80px;
}

.comments-block .single-comment .img-commenter{
  width: 500px;
  height: 100.972px;
  margin-left: 33px;
  margin-top: 51px;
  margin-bottom: 98.3px;
  margin-right: 10px;
  background: url(../../img/img-commenter.png) no-repeat;
}

.horiz-divider-comment {
  width: 932.709px;
  height: 1px;
  background: #5A3693;
}