a{
  color:  #FFF;
}

#page-content {
  font-family: 'Reem Kufi';
  line-height: normal;
  font-style: normal;
}

#page-content .nivel-esforco {
  display: flex;
  width: 212px;
  height: 29px;
  flex-direction: row;
  justify-content: center;
  margin-left: 58px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 400;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

#cards ul li a{
  color: #FFF;
}

#cards .card-lateral-esq{
  margin-right: 20px;
}

#page-content .card-lateral-esq {
  width: 355px;
  height: 730px;
  flex-shrink: 0;
  padding-top: 20px;
  margin-top: 21px;
  margin-left: 58px;
  border-radius: 17px;
  border: 1px solid #000;
  background: #9B96CB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.description-block ul {
  list-style: none;
  display: flex;
  width: 313px;
  height: 245px;
  flex-direction: column;
  margin: 25px 22px 5px 20px;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}

.description-block li {
  margin-top: 25px;
}

.description-block .lista-areasRelevantes{
  margin-top: 7px;
  margin-bottom: 1px;
  font-size: 15px;
}

.horizontal-divider {
  width: 313px;
  height: 1px;
  background: #5A3693;
  margin: 75px 22px 5px 20px;
}

.professors-block {
  width: 242px;
  height: 251px;
  margin: 39px 24px 55px 39px;
}

.professors-block h3 {
  display: flex;
  width: 232px;
  height: 48.31px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.professors-block li {
  width: 225px;
  height: 33.607px;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.professors-block li a:hover{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vertical-divider {
  width: 1px;
  height: 780.023px;
  background: #9B96CB;
}
/* Fim da div Conteudo-Disciplina*/


/*Início da div matrial-estudo*/
#comments-n-materials-block {
  width: 950px;
  height: 491px;
  flex-shrink: 0;
}

#comments-n-materials-block .comments-block {
  margin-left: 20px;
  border-radius: 17px;
  border: 1px solid #000;
  background: #9B96CB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#comments-n-materials-block .comments-block .single-comment {
  width: inherit;
  height: 50%;
  display: flex;
  color: #FFF;
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
}

#comments-n-materials-block .comments-block .single-comment .comment{
  margin-left: 15px;
  margin-top: 29px;
  margin-right: 38px;
}

.comments-block .single-comment .img-commenter{
  width: 500px;
  height: 100.972px;
  margin-left: 33px;
  margin-top: 51px;
  margin-bottom: 98.3px;
  margin-right: 10px;
  background: url(../../img/img-commenter.png) no-repeat;
}
.container-button {
  margin: 20px;
  margin-top: 5px;
  padding-left: 200px;
}
.button {
  justify-content: center;
  width: 149.777px;
  height: 32.359px;
  padding: 10px;
  margin-top: 0px;
  margin-left: 200px;
  border-radius: 15px;
  background: #A45DFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button a{
  color: #FFF;
}
.horiz-divider-comment {
  width: 932.709px;
  height: 1px;
  background: #5A3693;
}

#card-material-estudo {
  width: 955px;
  height: 237px;
  margin-top: 52px;
  flex-shrink: 0;
}

#card-material-estudo .material-label{
  width: 494px;
  height: 57px;
  font-size: 35px;
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

#card-material-estudo .main-box{
  background: #9B96CB;
  border-radius: 17px;  
  border: 1px solid #000;
  color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;

}

#card-material-estudo .lista-de-materiais{
  padding: 20px;
  margin: 15px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 20px;
  
}
.lista-label{
  padding-bottom: 10px;
}

.lista-de-materiais li {
  margin-left: 30px;
}
.lista-de-materiais li a:hover{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Fim da div matrial-estudo*/