#seletor-curso {
  margin-top: 15px;
  margin-left: 36px;
  font-family: 'Reem Kufi';
  display: flex;
}

.label-principal {
  display: flex;
}

#seletor-curso li{
  float: left;
  padding-top: 10px;
  list-style: none;
}

#seletor-curso .icone-selecao{
  width: 32px;
  height: 31.03px;
  flex-shrink: 0;
  margin-right: 5px;
  padding-top: 5px;
  margin-top: 15px;
  list-style: none;
  align-items: center;
  background: url(../../img/seletor-curso.png);
  mix-blend-mode: soft-light;
}

#seletor-curso label{
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
  font-style: normal;
  line-height: normal;
}

.icone-selecao svg{
  cursor: pointer;
}

#container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 46px;
  justify-content: center;
}
