
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Reem Kufi';
  line-height: normal;
  font-style: normal;
}
.page-content{
  color: #fff;
  display: inline;
}

.title-content{
  display:flex;
  flex-wrap: wrap;
  /* justify-content: center; Centraliza os elementos horizontalmente */
  align-items: center;
}

.title-barra-inferior{
  margin-left: 28%;
  background: #CD1DC6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 1px;
}

#rating {
  margin-top: 80px;
}

/* Estilo para estrelas preenchidas */
.star-filled {
  font-size: 32px; /* Tamanho das estrelas */
  color: yellow; /* Cor das estrelas preenchidas */
}

.esforco {
  width: 252px;
  height: 43px;
  float: right;
  display: flex;
  flex-shrink: 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: 28px;
  border: 1px solid #CD1DC6;
  background: rgba(205, 29, 198, 0.20);
}

.esforco label{
  display: flex;
  width: 230px;
  height: 29px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Reem Kufi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


#seletor-curso {
  margin-left: 6px;
  margin-right: 5px;
}

.codigo{
  width: 186px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: justify;
  font-family: Reem Kufi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 110px;
}

.main-area{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jornada-aluno {
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title{
  margin: 20px;
  margin-bottom: 45px;
  flex-shrink: 0;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title span{
  color: #CD1DC6;
  margin-left: 0px;
  font-family: Reem Kufi;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cards .dados-indicadores{
 padding-left: 10%;
}
.informativos-escuro{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.informativos-escuro li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 60px;
  margin-top: 100px;
  width: 367px;
  height: 128px;
  flex-shrink: 0;
  fill: rgba(44, 39, 118, 0.90);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  background-color: #2C2776;
  float: left;
  padding: 10px;
}
.informativos-escuro li a {
  color: #fff;
}

.bottom-info{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
